apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{name}}
  namespace: {{namespace}}
  labels:
    name: {{name}}
spec:
  selector:
    matchLabels:
      app: {{name}}
  template:
    metadata:
      labels:
        app: {{name}}
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: eks.amazonaws.com/nodegroup
                    operator: In
                    values:
                      - {{nodegroup}}
    spec:
      containers:
        - name: {{name}}
          image: ghcr.io/alercebroker/{{image.name}}:{{image.version}}
          imagePullPolicy: Always
          ports:
            - containerPort: {{containerPort}}
          {% if resources.requests %}
          resources:
            requests:
              memory: {{resources.requests.memory}}
              cpu: {{resources.requests.cpu}}
          {% endif %}
      restartPolicy: Always
